<ul class='sidebar-nav'>
  <li class='sidebar-profile'>
    <i class='fa fa-circle text-success'></i>
    <span>Aleksandr Kunin</span>
  </li>
  <li class='active'>Мои треки</li>
  <li><a class='open-track-file' href='#'>Открыть</a></li>
  <li><a class='open-config'>Конфиг</a></li>
</ul>

<ul class='sidebar-nav connected-devices'>
  <li class='title'>Connected devices</li>
</ul>
